#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        hrml: hrml {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <16 15 14 13>;
            quick-tap-ms = <120>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        hrmr: hrmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <19 20 21 22>;
            quick-tap-ms = <120>;
            tapping-term-ms = <200>;
            require-prior-idle-ms = <100>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        ie_io: ie_io {
            compatible = "zmk,behavior-tap-dance";
            label = "IE_IO";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_IE>, <&kp RU_CYRILLIC_IO>;

            tapping-term-ms = <200>;
        };

        soft_sign_hard: soft_sign_hard {
            compatible = "zmk,behavior-tap-dance";
            label = "SOFT_SIGN_HARD";
            #binding-cells = <0>;
            bindings = <&kp RU_CYRILLIC_SOFT_SIGN>, <&kp RU_CYRILLIC_HARD_SIGN>;

            tapping-term-ms = <150>;
        };

        en_qmark_excl: en_qmark_excl {
            compatible = "zmk,behavior-tap-dance";
            label = "EN_QMARK_EXCL";
            #binding-cells = <0>;
            bindings = <&kp QMARK>, <&kp EXCL>;

            tapping-term-ms = <200>;
        };

        ru_qmark_excl: ru_qmark_excl {
            compatible = "zmk,behavior-tap-dance";
            label = "RU_QMARK_EXCL";
            #binding-cells = <0>;
            bindings = <&kp RU_QUESTION>, <&kp RU_EXCLAMATION>;

            tapping-term-ms = <200>;
        };

        mrh_en_qmark_excl: mrh_en_qmark_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_EN_QMARK_EXCL";
            bindings = <&kp QMARK>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        mrh_ru_qmark_excl: mrh_ru_qmark_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_RU_QMARK_EXCL";
            bindings = <&kp RU_QUESTION>, <&kp RU_EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        en_pipe_ampersand: en_pipe_ampersand {
            compatible = "zmk,behavior-tap-dance";
            label = "EN_PIPE_AMPERSAND";
            #binding-cells = <0>;
            bindings = <&kp PIPE>, <&kp AMPERSAND>;

            tapping-term-ms = <200>;
        };

        ru_pipe_ampersand: ru_pipe_ampersand {
            compatible = "zmk,behavior-tap-dance";
            label = "RU_PIPE_AMPERSAND";
            #binding-cells = <0>;
            bindings = <&en PIPE>, <&en AMPERSAND>;

            tapping-term-ms = <200>;
        };

        mrh_en_pipe_ampersand: mrh_en_pipe_ampersand {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_EN_PIPE_AMPERSAND";
            bindings = <&kp PIPE>, <&kp AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        mrh_ru_pipe_ampersand: mrh_ru_pipe_ampersand {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_RU_PIPE_AMPERSAND";
            bindings = <&en PIPE>, <&en AMPERSAND>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        en_at_dollar: en_at_dollar {
            compatible = "zmk,behavior-tap-dance";
            label = "EN_AT_DOLLAR";
            #binding-cells = <0>;
            bindings = <&kp AT>, <&kp DOLLAR>;

            tapping-term-ms = <200>;
        };

        ru_at_dollar: ru_at_dollar {
            compatible = "zmk,behavior-tap-dance";
            label = "RU_AT_DOLLAR";
            #binding-cells = <0>;
            bindings = <&en AT>, <&en DOLLAR>;

            tapping-term-ms = <200>;
        };

        mrh_en_at_dlr: mrh_en_at_dlr {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_EN_AT_DLR";
            bindings = <&kp AT>, <&kp DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };

        mrh_ru_at_dlr: mrh_ru_at_dlr {
            compatible = "zmk,behavior-mod-morph";
            label = "MRH_RU_AT_DLR";
            bindings = <&en AT>, <&en DOLLAR>;

            #binding-cells = <0>;
            mods = <(MOD_RGUI|MOD_LGUI)>;
        };
    };

    macros {
        layer_en: layer_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &lang_to_en>;
            label = "LAYER_EN";
            wait-ms = <0>;
            tap-ms = <50>;
        };

        layer_ru: layer_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 1 &lang_to_ru>;
            label = "LAYER_RU";
            wait-ms = <0>;
            tap-ms = <50>;
        };

        lang_to_en: leng_to_en {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N1))>;
            label = "LENG_TO_EN";
            wait-ms = <0>;
            tap-ms = <50>;
        };

        lang_to_ru: leng_to_ru {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(N2))>;
            label = "LENG_TO_RU";
            wait-ms = <0>;
            tap-ms = <50>;
        };

        en: en {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings =
                <&lang_to_en>,
                <&macro_press>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&macro_param_1to1 &kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&lang_to_ru>;

            label = "EN";
            wait-ms = <0>;
            tap-ms = <50>;
        };

        mcr_forward: mcr_forward {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_COMMAND>,
                <&macro_tap>,
                <&kp RIGHT_ARROW>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_COMMAND>;

            label = "MCR_FORWARD";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        mcr_back: mcr_back {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_COMMAND>,
                <&macro_tap>,
                <&kp LEFT_ARROW>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_COMMAND>;

            label = "MCR_BACK";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        inc_brt: sd_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp N1>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_SHIFT>;

            label = "SD_UP";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        dec_brt: dec_brt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp N0>,
                <&macro_release>,
                <&kp LEFT_ALT &kp LEFT_COMMAND &kp LEFT_SHIFT>;

            label = "DEC_BRT";
            wait-ms = <10>;
            tap-ms = <10>;
        };

        m_equal: m_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp EQUAL &kp EQUAL>;
            label = "M_EQUAL";
        };

        m_nequal: m_nequal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCL &kp EQUAL &kp EQUAL>;
            label = "M_NEQUAL";
        };

        m_or: m_or {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp PIPE &kp PIPE>;
            label = "M_OR";
        };

        m_and: m_and {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp AMPS &kp AMPS>;
            label = "M_AND";
        };

        m_great: m_great {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GT &kp EQUAL>;
            label = "M_GREAT";
        };

        m_less: m_less {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
            label = "M_LESS";
        };

        m_far: m_far {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "M_FAR";
        };
    };

    combos {
        compatible = "zmk,combos";

        switch_to_en {
            bindings = <&layer_en>;
            key-positions = <27 28>;
            layers = <1 0>;
        };

        switch_to_ru {
            bindings = <&layer_ru>;
            key-positions = <33 34>;
            layers = <0 1>;
        };

        capsword {
            bindings = <&caps_word>;
            key-positions = <16 19>;
            layers = <0 1>;
        };

        en_qmark {
            bindings = <&kp QMARK>;
            key-positions = <7 8>;
            layers = <0>;
        };

        ru_qmark {
            bindings = <&kp RU_QUESTION>;
            key-positions = <7 8>;
            layers = <1>;
        };

        excl {
            bindings = <&kp EXCL>;
            key-positions = <4 3>;
            layers = <0 1 2 3>;
        };

        en_colon {
            bindings = <&kp COLON>;
            key-positions = <34 35>;
            layers = <0>;
        };

        ru_colon {
            bindings = <&kp RU_COLON>;
            key-positions = <35 34>;
            layers = <1>;
        };

        en_semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <26 27>;
            layers = <0>;
        };

        ru_semicolon {
            bindings = <&kp RU_SEMICOLON>;
            key-positions = <26 27>;
            layers = <1>;
        };

        en_at {
            bindings = <&kp AT>;
            key-positions = <16 3>;
            layers = <0>;
        };

        ru_at {
            bindings = <&en AT>;
            key-positions = <3 16>;
            layers = <1>;
        };

        en_ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <8 21>;
            layers = <0>;
        };

        ru_ampersand {
            bindings = <&en AMPERSAND>;
            key-positions = <8 21>;
            layers = <1>;
        };

        en_pipe {
            bindings = <&kp PIPE>;
            key-positions = <8 19>;
            layers = <0>;
        };

        ru_pipe {
            bindings = <&en PIPE>;
            key-positions = <8 19>;
            layers = <1>;
        };

        en_dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <3 14>;
            layers = <0>;
        };

        ru_dollar {
            bindings = <&en DOLLAR>;
            key-positions = <3 14>;
            layers = <1>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <7 6>;
            layers = <0 1>;
        };

        en_double_quotes {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <17 16>;
            layers = <0>;
        };

        ru_double_quotes {
            bindings = <&kp RU_DOUBLE_QUOTES>;
            key-positions = <17 16>;
            layers = <1>;
        };

        en_sqt {
            bindings = <&kp SQT>;
            key-positions = <19 18>;
            layers = <0>;
        };

        ru_sqt {
            bindings = <&en SQT>;
            key-positions = <19 18>;
            layers = <1>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <8 9>;
            layers = <0 1>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <2 3>;
            layers = <0 1>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <5 4>;
            layers = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_en {
            bindings = <
&kp GRAVE  &kp Q          &kp W         &kp E         &kp R        &kp T                                    &kp Y            &kp U        &kp I         &kp O         &kp P             &none
&kp ESC    &hrml LCTRL A  &hrml LALT S  &hrml LGUI D  &mt LSHFT F  &kp G                                    &kp H            &mt RSHFT J  &hrmr RGUI K  &hrmr RALT L  &hrmr RCTRL SEMI  &kp SINGLE_QUOTE
&none      &kp Z          &kp X         &kp C         &kp V        &kp B        &none          &none        &kp N            &kp M        &kp COMMA     &kp DOT       &kp SLASH         &kp BACKSLASH
                                                      &lt 4 TAB    &lt 2 SPACE  &lt 7 ENTER    &lt 7 ENTER  &lt 2 BACKSPACE  &lt 4 DEL
            >;

            display-name = "EN";
        };

        base_ru {
            display-name = "RU";
            bindings = <
&kp RU_CYRILLIC_IO  &kp RU_CYRILLIC_SHORT_I     &kp RU_CYRILLIC_TSE          &kp RU_CYRILLIC_U          &kp RU_CYRILLIC_KA       &kp RU_CYRILLIC_IE                    &kp RU_CYRILLIC_EN  &kp RU_CYRILLIC_GHE      &kp RU_CYRILLIC_SHA        &kp RU_CYRILLIC_SHCHA      &kp RU_CYRILLIC_ZE           &kp RU_CYRILLIC_HA
&kp ESC             &hrml LCTRL RU_CYRILLIC_EF  &hrml LALT RU_CYRILLIC_YERU  &hrml LGUI RU_CYRILLIC_VE  &mt LSHFT RU_CYRILLIC_A  &kp RU_CYRILLIC_PE                    &kp RU_CYRILLIC_ER  &mt LSHFT RU_CYRILLIC_O  &hrmr LGUI RU_CYRILLIC_EL  &hrmr LALT RU_CYRILLIC_DE  &hrmr LCTRL RU_CYRILLIC_ZHE  &kp RU_CYRILLIC_E
&none               &kp RU_CYRILLIC_YA          &kp RU_CYRILLIC_CHE          &kp RU_CYRILLIC_ES         &kp RU_CYRILLIC_EM       &kp RU_CYRILLIC_I   &none     &none   &kp RU_CYRILLIC_TE  &soft_sign_hard          &kp RU_CYRILLIC_BE         &kp RU_CYRILLIC_YU         &kp SLASH                    &kp BACKSLASH
                                                                                                        &lt 4 TAB                &lt 3 SPACE         &trans    &trans  &lt 3 BACKSPACE     &lt 4 DELETE
            >;
        };

        symb_en {
            bindings = <
&kp GRAVE  &kp ASTRK      &none             &none     &none           &kp HASH                              &none            &none            &none     &none              &kp SLASH         &kp CARET
&none      &kp LESS_THAN  &kp LEFT_BRACKET  &kp LPAR  &kp LEFT_BRACE  &none                                 &none            &kp RIGHT_BRACE  &kp RPAR  &kp RIGHT_BRACKET  &kp GREATER_THAN  &none
&kp COMMA  &kp N1         &kp N2            &kp N3    &kp N4          &kp N5    &kp RU_NUMERO    &kp PRCNT  &kp N6           &kp N7           &kp N8    &kp N9             &kp N0            &kp DOT
                                                      &trans          &mo 5     &trans           &trans     &lt 5 BACKSPACE  &trans
            >;

            display-name = "Symb EN";
        };

        symb_ru {
            display-name = "Symb RU";
            bindings = <
&en GRAVE     &kp ASTRK      &none             &none     &none           &en HASH                                   &none            &none            &none     &none              &kp RU_SLASH      &kp CARET
&none         &en LESS_THAN  &en LEFT_BRACKET  &kp LPAR  &en LEFT_BRACE  &none                                      &none            &en RIGHT_BRACE  &kp RPAR  &en RIGHT_BRACKET  &en GREATER_THAN  &none
&kp RU_COMMA  &kp N1         &kp N2            &kp N3    &kp N4          &kp N5    &kp RU_NUMERO    &en RU_PERCENT  &kp N6           &kp N7           &kp N8    &kp N9             &kp N0            &kp RU_DOT
                                                         &trans          &mo 5     &trans           &trans          &lt 5 BACKSPACE  &trans
            >;
        };

        nav {
            bindings = <
&none  &kp LG(N1)    &kp LG(N2)    &kp LG(N3)  &kp LG(N4)     &kp LG(N5)                             &kp LG(N6)    &kp LG(N7)  &kp LG(N8)  &kp LG(N9)  &kp LG(N0)  &kp F12
&none  &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(UP)  &kp LC(RIGHT)  &none                                  &kp LA(F12)   &kp LEFT    &kp UP      &kp DOWN    &kp RIGHT   &none
&none  &kp LC(N1)    &kp LC(N2)    &kp LC(N3)  &kp LC(N4)     &kp LC(N5)  &none           &none      &none         &kp HOME    &kp PG_UP   &kp PG_DN   &kp END     &none
                                               &none          &mcr_back   &mcr_forward    &mcr_back  &mcr_forward  &none
            >;

            display-name = "Nav";
        };

        F_layer {
            bindings = <
&none  &kp N1            &kp N2        &kp N3        &kp N4          &kp N5                   &kp N6   &kp N7                &kp N8            &kp N9              &kp N0                   &none
&none  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp LEFT_SHIFT  &kp F11                  &kp F12  &mt RIGHT_SHIFT LEFT  &mt RIGHT_GUI UP  &mt RIGHT_ALT DOWN  &mt RIGHT_CONTROL RIGHT  &none
&none  &kp F1            &kp F2        &kp F3        &kp F4          &kp F5   &none    &none  &kp F6   &kp F7                &kp F8            &kp F9              &kp F10                  &none
                                                     &none           &none    &none    &none  &none    &none
            >;

            label = "F_layer";
        };

        game {
            bindings = <
&kp T    &kp N1          &kp N2  &kp W  &kp NUMBER_3  &kp R                              &kp N4  &kp N5          &kp N6          &kp N7        &kp N8           &none
&kp ESC  &kp LEFT_SHIFT  &kp A   &kp S  &kp D         &kp F                              &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &none
&mo 7    &kp LCTRL       &kp X   &kp C  &kp V         &kp U      &kp Y        &none      &kp N   &kp M           &kp I           &kp O         &none            &none
                                        &kp TAB       &kp SPACE  &kp ENTER    &kp ENTER  &none   &none
            >;

            label = "Game";
        };

        Func {
            label = "Func";
            bindings = <
&studio_unlock  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3          &bt BT_SEL 4                   &none  &kp LG(MINUS)      &kp LG(PLUS)      &kp LG(N0)  &none     &tog 6
&mo 8           &bt BT_CLR    &out OUT_USB  &out OUT_BLE  &kp LS(LG(NUMBER_5))  &kp BACKSPACE                  &none  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp C_MUTE  &dec_brt  &inc_brt
&none           &kp LG(Z)     &kp LG(X)     &kp LG(C)     &kp LG(V)             &kp LG(B)      &none    &none  &none  &kp C_PREV         &kp C_PLAY_PAUSE  &kp C_NEXT  &kp F23   &kp F24
                                                          &none                 &none          &none    &none  &none  &none
            >;
        };

        Num {
            bindings = <
&none  &none  &none        &kp KP_SLASH  &kp KP_MULTIPLY  &none                                &none         &kp N9  &kp N0  &none   &none   &none
&none  &none  &kp PERCENT  &kp KP_MINUS  &kp KP_PLUS      &none                                &kp KP_DOT    &kp N1  &kp N2  &kp N3  &kp N4  &none
&none  &none  &none        &none         &none            &none  &none           &none         &kp KP_COMMA  &kp N5  &kp N6  &kp N7  &kp N8  &none
                                         &none            &none  &kp KP_EQUAL    &kp KP_EQUAL  &none         &none
            >;

            label = "Num";
        };
    };
};
